html {
	background-color: #dedede;
	margin: 0em 0em 0em .5em;
}

header {
	background-color: #9b8c8e;
	padding: 1em;
	text-align: center;
}

h1 {
	font-weight: bold;
	color: #fff;
	font-family: "Merriweather", serif;
	font-size: 4rem;
	line-height: 2rem;
	margin: 0.5em;
}

nav {
	background-color: #9b8c8e;
	display: inline-block;
	text-align: center;
	padding: 0em 1em .5em 1em;
}

nav li {
	display: inline-block;
}

.listone {
	list-style-type: none;
	padding: 0.5em;
	font-family: "Muli", sans-serif;
}

nav a {
	color: #fff;
	text-decoration: none;
	margin: .5em;
	background-color: #030356;
	padding: 1.5em;
	border-radius: 5px;
	display: inline-block;
}

a:hover {
	color: #af1f24;
}

h2, h3,h4 {
	font-weight: bold;
	color: #030356;
	font-family: "Merriweather", serif;
	font-size: 2rem;
	line-height: 2rem;
}

p {
	font-family: "Muli", sans-serif;
	line-height: 1.3em;
}

.listtwo {
	list-style-type: lower-roman;
	padding: 0em 2em;
	margin: .5em;
}

.celestial {
	color: #030356;
}

.rounded {
	color: #030356;
}

.citation {
	color: #030356;
	font-size: .5rem;
	font-family: "Muli", sans-serif;
	line-height: .5;
}

.quotemarks {
	font-size: 2.5rem;
	color: #030356;
}

.quotation {
	font-family: "Merriweather", serif;
	font-style: italic;
	font-size: 1.5rem;
}

.unfortunately {
	font-style: italic;
	font-family: "Muli", sans-serif;
}

figure {
	border: .25em solid lightgrey;
	border-radius: 1em;
	margin: 1em;
	background-color: #fff;
	padding: .50em;
}

img {
	width: 100%;
}

.imgcaption {
	font-style: italic;
	text-align: center;
}

figcaption {
	padding: .5em .5em .75em .5em;
}

dd {
	margin: 0em;
	padding: 0em 0em .75em 0em;
}

dt {
	font-weight: bold;
	padding: 0.25em 0em .25em 0em;
}

h4 {
	margin: .5em 0em .5em 0em;
	padding: 0em;
}

ol {
	list-style-type: circle;
	margin: 0.25em 0em .25em 0em;
}

footer {
	background-color: #9b8c8e;
	padding: 0em 0em 1em 0em;
}

h4 {
	padding: .5em 0em 0em .5em;
}
